<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net452" />
  <package id="FredsImageMagickScripts.TextCleaner" version="1.0.6256.40977" targetFramework="net452" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.0.6.102" targetFramework="net452" />
  <package id="Tesseract" version="3.2.0-alpha3" targetFramework="net452" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net452" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net452" />
</packages>